@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 100%;
  border: 1px solid #ebecf0;
  margin: 12px 0 24px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #f7f7f9;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
}

header {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #172b4d;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #101d33;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

.scroll-to-top {
  cursor: pointer;
  padding: 12px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 90;
  border: none;
  color: #fff;
  display: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  background-color: #172b4d;
  transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: #101d33;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.top-navigation img {
  height: 45px;
}

svg {
  fill: #6070ff;
}

.menu-wrapper .menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu-wrapper.open-menu .menu-overlay {
  z-index: 101;
  opacity: 1;
}

.menu-wrapper.open-menu .menu-content {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 102;
  width: calc(100vw - 48px);
  height: calc(100vw - 48px);
  padding: 24px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 45px;
  justify-content: center;
}

.menu-wrapper.open-menu .menu-toggle {
  align-items: flex-end;
}

.navigation-menu {
  display: none;
}

.menu-wrapper.open-menu .navigation-menu {
  display: block;
}

.technical-knowledge-list li {
  padding: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.footer .contact-form li {
  display: flex;
}

.menu-wrapper.open-menu .navigation-menu li {
  margin-bottom: 24px;
}

.menu-wrapper.open-menu .navigation-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.menu-toggle span {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #6070ff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.menu-wrapper.open-menu .menu-toggle span {
  position: absolute;
  background: white;
}

.my-works .work-item .work-subtitle span {
  height: 100%;
  position: relative;
}

.pd-container .pd-content .pd-head span {
  color: #67798e;
  font-size: 24px;
}

.pd-container .pd-content .pd-subtitle span {
  color: #7a869a;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  height: 100%;
}

.my-works .work-item .work-subtitle span + span {
  margin: 0 16px;
}

.pd-container .pd-content .pd-subtitle span + span {
  margin: 0 12px;
}

.menu-wrapper.open-menu .menu-toggle span:first-child {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
  top: 50%;
}

.menu-wrapper.open-menu .menu-toggle span:last-child {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: center;
  top: 50%;
}

.menu-wrapper.open-menu .menu-toggle span:nth-child(2) {
  display: none;
}

.hero {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 24px;
  position: relative;
  border-bottom-left-radius: 100px;
  border-bottom: 1px solid #dfe1e6;
  overflow: hidden;
}

.hero .hero-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.hero .hero-shapes .shape {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
}

.hero .hero-shapes .rectangle-4 {
  width: 95.58px;
  height: 22.02px;
  background: #ebebff;
  transform: rotate(-30deg);
  left: 78.4%;
  top: 2.38%;
}

.hero .hero-shapes .rectangle-5 {
  width: 68.06px;
  height: 12.18px;
  background: #ebebff;
  transform: rotate(23.34deg);
  left: 46%;
  top: 82%;
}

.hero .hero-shapes .rectangle-6 {
  width: 51.99px;
  height: 9.3px;
  background: #ebebff;
  transform: rotate(-46.14deg);
  left: -9.07%;
  top: 0%;
}

.hero .hero-shapes .rectangle-7 {
  width: 26.46px;
  height: 4.73px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  left: 48.14%;
  top: 10%;
}

.hero .hero-shapes .eclipse-3 {
  background-image: url("../../assets/img/hero/Ellipse-3.svg");
  width: 105px;
  height: 105px;
  left: 85%;
  top: 4%;
}

.hero .hero-shapes .eclipse-4 {
  background-image: url("../../assets/img/hero/Ellipse-4.svg");
  width: 20px;
  height: 20px;
  left: 58.26%;
  top: 80.57%;
}

.hero .hero-shapes .eclipse-5 {
  background-image: url("../../assets/img/hero/Ellipse-5.svg");
  width: 11px;
  height: 10px;
  left: 49.16%;
  top: 11%;
}

.hero .hero-shapes .eclipse-6 {
  background-image: url("../../assets/img/hero/Ellipse-6.svg");
  width: 15px;
  height: 15px;
  left: 20%;
  top: 85%;
}

.hero .hero-shapes .eclipse-7 {
  background-image: url("../../assets/img/hero/Ellipse-7.svg");
  width: 15px;
  height: 15px;
  left: 67.01%;
  top: 3.66%;
}

.hero .hero-shapes .eclipse-8 {
  background-image: url("../../assets/img/hero/Ellipse-8.svg");
  width: 15px;
  height: 15px;
  left: 26.32%;
  top: 6.97%;
}

.hero .hero-shapes .eclipse-11 {
  background-image: url("../../assets/img/hero/Ellipse-11.svg");
  width: 80.48px;
  height: 38px;
  left: -8%;
  top: 0.91%;
}

.hero .hero-shapes .eclipse-12 {
  background-image: url("../../assets/img/hero/Ellipse-12.svg");
  width: 24.14px;
  height: 12.07px;
  left: 80%;
  top: 65.77%;
}

.hero .hero-shapes .eclipse-13 {
  background-image: url("../../assets/img/hero/Ellipse-13.svg");
  width: 30.1px;
  height: 30.1px;
  left: 77.12%;
  top: 67.1%;
}

.hero .hero-shapes .eclipse-14 {
  background-image: url("../../assets/img/hero/Ellipse-14.svg");
  width: 23px;
  height: 23px;
  left: 5.07%;
  top: 44.77%;
}

.hero .hero-content {
  position: relative;
  z-index: 10;
}

.hero .title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 40px 0 12px;
}

.hero .introduction,
.about-me .introduction {
  margin: 12px 0 24px;
}

.hero .sub-title,
.about-me .sub-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  margin: 12px 0;
  text-decoration: none;
}

.hero .sub-title:hover,
.about-me .sub-title:hover {
  color: #6070ff;
}

.hero .social-links,
.about-me .social-links {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.about-me .link,
.hero .social-links .link {
  margin-right: 15px;
  font-size: 28px;
}

.hero .social-links .link a,
.about-me .social-links .link a {
  color: #505f79;
}

.hero .social-links .link a:hover,
.about-me .social-links .link a:hover {
  color: #7f8cff;
}

.my-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 88px;
  padding: 120px 24px;
}

.my-works .work-item {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: baseline;
}

.technical-knowledge-list li img {
  margin-right: 16px;
}

.my-works .work-item img {
  width: 100%;
}

.my-works .work-item .work-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: block;
  padding: 12px 0;
  color: #172b4d;
}

.my-works .work-item .work-subtitle {
  display: flex;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.my-works .work-item .work-subtitle span:first-of-type {
  color: #344563;
  text-transform: uppercase;
  margin-right: 16px;
}

.my-works .work-item .work-subtitle span + span::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.my-works .work-item .work-details {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 12px;
}

.my-works .work-item .work-technologies {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.my-works .work-item .work-technologies .technology-tag {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 8px;
}

.my-works .work-item .view-work-btn,
.contact-form .submit-btn,
.about-me .resume-btn {
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  margin: 24px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  transition: all 0.3s ease;
}

.my-works .work-item .view-work-btn:enabled,
.contact-form .submit-btn:enabled,
.about-me .resume-btn:enabled {
  color: #6070ff;
  border: solid 1px #6070ff;
  background-color: #fff;
}

.my-works .work-item .view-work-btn:hover,
.my-works .work-item .view-work-btn:active,
.about-me .resume-btn:hover,
.about-me .resume-btn:active {
  color: #fff;
  border: solid 1px #6070ff;
  background-color: #6070ff;
}

.about-me {
  padding: 120px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  border-top-right-radius: 100px;
  border-top: 1px solid #dfe1e6;
}

.about-me .top,
.about-me .bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 0;
  width: 100%;
  flex-basis: 0;
}

.footer .contact-intro .title,
.about-me .top .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.footer .contact-intro .title {
  color: #fff;
  margin-bottom: 12px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.about-me .bottom .technical-knowledge {
  width: 100%;
}

.about-me .bottom .technical-knowledge .knowledge-area {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.about-me .bottom .technical-knowledge .knowledge-area.active {
  border: none;
}

.about-me .bottom .technical-knowledge .knowledge-area .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.footer-inner {
  background-color: #6070ff;
  padding: 120px 24px 48px;
  border-top-left-radius: 100px;
}

.footer .footer-shapes {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.footer .footer-shapes .shape {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
}

.footer .footer-shapes .rectangle-4 {
  width: 74.7px;
  height: 17.21px;
  background: #7f8cff;
  transform: rotate(-23.18deg);
  left: 84.14%;
  top: 5.64%;
}

.footer .footer-shapes .rectangle-6 {
  width: 55.6px;
  height: 9.95px;
  background: #fff;
  transform: rotate(-23.7deg);
  left: 23.4%;
  top: 88.59%;
}

.footer .footer-shapes .rectangle-7 {
  width: 76.17px;
  height: 13.63px;
  background: #7f8cff;
  transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
  left: 72%;
  top: 85%;
}

.footer .footer-shapes .ellipse-3 {
  background-image: url("../../assets/img/footer/Ellipse-3.svg");
  width: 90px;
  height: 89px;
  left: 87.9%;
  top: 7.07%;
}

.footer .footer-shapes .ellipse-5 {
  background-image: url("../../assets/img/footer/Ellipse-5.svg");
  width: 31.11px;
  height: 31.11px;
  left: 72%;
  top: 85.5%;
}

.footer .footer-shapes .ellipse-11 {
  background-image: url("../../assets/img/footer/Ellipse-11.svg");
  width: 41.18px;
  height: 20.59px;
  left: 24.86%;
  top: 90.07%;
}

.footer .footer-shapes .ellipse-12 {
  background-image: url("../../assets/img/footer/Ellipse-12.svg");
  width: 21px;
  height: 21px;
  left: 42.64%;
  top: 8.48%;
}

.footer .footer-shapes .ellipse-13 {
  background-image: url("../../assets/img/footer/Ellipse-13.svg");
  width: 75px;
  height: 75px;
  left: 78.4%;
  top: 61.58%;
}

.footer .footer-content {
  position: relative;
  z-index: 10;
}

.footer .contact-intro {
  text-align: center;
  margin-bottom: 36px;
}

.footer .contact-intro .description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.footer .contact-form {
  display: flex;
}

.footer .contact-form ul {
  flex-grow: 1;
}

.footer .contact-form ul li input,
.footer .contact-form ul li textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  flex-grow: 1;
  color: #172b4d;
}

.footer .contact-form ul li textarea {
  font-size: 17px;
  line-height: 20px;
}

.footer .contact-form ul li .submit-btn {
  margin-top: 0;
}

.footer .contact-form ul li .submit-btn:hover,
.footer .contact-form ul li .submit-btn:active {
  color: #fff;
  border: solid 1px #7f8cff;
  background-color: #7f8cff;
}

.font-weight-normal {
  font-weight: 400;
}

.pd-container {
  position: relative;
  display: none;
}

.pd-container.show {
  display: block;
}

.pd-container.show .pd-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
  z-index: 120;
  background: #c1c7d0;
  padding: 16px;
  display: flex;
  align-items: center;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
}

.pd-container.show .pd-content {
  position: fixed;
  z-index: 121;
  background: white;
  border-radius: 16px;
  padding: 18px 16px;
  height: calc(95% - 64px);
  width: calc(100% - 64px);
  max-width: 1100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pd-container .pd-content .pd-close {
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/cancel.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pd-container .pd-content .pd-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pd-container .pd-content .pd-head .pd-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: block;
  color: #172b4d;
}

.pd-container .pd-content .pd-subtitle {
  padding: 12px 0 16px;
}

.pd-container .pd-content .pd-subtitle span:first-of-type {
  color: #344563;
  text-transform: uppercase;
  margin-right: 12px;
}

.pd-container .pd-content .pd-subtitle span + span::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.pd-container .pd-content .pd-image {
  border-radius: 8px;
}

.pd-container .pd-content .pd-description {
  margin: 12px 0 16px;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.pd-container .pd-content .pd-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.pd-container .pd-content .pd-technologies li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0 8px 12px;
}

.pd-container .pd-content .pd-actions {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px;
}

.pd-container .pd-content .pd-actions .pd-action-btn {
  flex-grow: 1;
  margin: 0 6px;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6070ff;
  border: solid 1px #6070ff;
  background-color: #fff;
  text-decoration: none;
}

.pd-container .pd-content .pd-actions .pd-action-btn:hover {
  color: #fff;
  border: solid 1px #6070ff;
  background-color: #6070ff;
}

.pd-container .pd-content .pd-actions .pd-action-btn i {
  font-size: 22px;
  padding: 0 8px;
}

.form-field.error {
  display: flex;
  flex-direction: column;
}

.form-field small {
  color: #ffc800;
  margin: 0;
  word-wrap: break-word;
}

@media (min-width: 992px) {
  .top-navigation,
  .my-works,
  .about-me-container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .top-navigation .menu-toggle {
    display: none;
  }

  .top-navigation .navigation-menu {
    display: block;
  }

  .top-navigation .navigation-menu ul {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
  }

  .navigation-menu ul li {
    padding: 10px 12px;
    margin: 0 8px;
  }

  .navigation-menu ul li a {
    text-decoration: none;
    color: #344563;
  }

  .navigation-menu ul li a:hover,
  .navigation-menu ul li a:active {
    color: #6070ff;
  }

  .hero {
    height: calc(100vh - 100px);
    min-height: 720px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .hero .hero-shapes .shape {
    transform: scale(1);
  }

  .hero .hero-shapes .rectangle-4 {
    width: 204px;
    height: 47px;
    background: #ebebff;
    transform: rotate(-30deg);
    left: 80%;
    top: 6.96%;
  }

  .hero .hero-shapes .rectangle-5 {
    width: 161.41px;
    height: 28.87px;
    background: #ebebff;
    transform: rotate(23.34deg);
    left: 50.79%;
    top: 75.1%;
  }

  .hero .hero-shapes .rectangle-6 {
    width: 108.67px;
    height: 19.44px;
    background: #ebebff;
    transform: rotate(-46.14deg);
    left: 0.4%;
    top: 9.36%;
  }

  .hero .hero-shapes .rectangle-7 {
    width: 56.01px;
    height: 10.02px;
    background: #6070ff;
    transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
    left: 48.14%;
    top: 15.14%;
  }

  .hero .hero-shapes .eclipse-3 {
    width: 224px;
    height: 224px;
    left: 83.33%;
    top: 10.02%;
  }

  .hero .hero-shapes .eclipse-4 {
    width: 47px;
    height: 47px;
    left: 58.26%;
    top: 71.57%;
  }

  .hero .hero-shapes .eclipse-5 {
    width: 23px;
    height: 23px;
    left: 49.16%;
    top: 16.99%;
  }

  .hero .hero-shapes .eclipse-6 {
    width: 75px;
    height: 75px;
    left: 81.53%;
    top: 59.15%;
  }

  .hero .hero-shapes .eclipse-7 {
    width: 39px;
    height: 39px;
    left: 67.01%;
    top: 5.66%;
  }

  .hero .hero-shapes .eclipse-8 {
    width: 15px;
    height: 15px;
    left: 26.32%;
    top: 6.97%;
  }

  .hero .hero-shapes .eclipse-11 {
    width: 80.48px;
    height: 40.24px;
    left: 4.53%;
    top: 9.91%;
  }

  .hero .hero-shapes .eclipse-12 {
    width: 36.9px;
    height: 18.45px;
    left: 20.19%;
    top: 77.77%;
  }

  .hero .hero-shapes .eclipse-13 {
    width: 46px;
    height: 46px;
    left: 19.17%;
    top: 78.97%;
  }

  .hero .hero-shapes .eclipse-14 {
    width: 23px;
    height: 23px;
    left: 5.07%;
    top: 44.77%;
  }

  .hero .hero-content {
    width: 64%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .hero .social-links,
  .about-me .social-links {
    margin: 0;
  }

  .my-works {
    padding: 142px 24px;
    grid-gap: 142px;
  }

  .my-works .work-item {
    padding: 24px;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 24px;
    transition: all 0.3s ease;
  }

  .my-works .work-item:hover {
    cursor: pointer;
    border: 1px solid #a7aeff;
    filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
  }

  .my-works .work-item:hover .view-work-btn:enabled,
  .my-works .work-item:hover .view-work-btn:hover {
    background-color: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    color: #fff;
  }

  .my-works .work-item.reverse-item {
    flex-direction: row-reverse;
  }

  .my-works .work-item .work-item-content {
    margin-left: 24px;
    flex-grow: 1;
    padding: 22px;
  }

  .my-works .work-item.reverse-item .work-item-content {
    margin-left: 0;
    margin-right: 24px;
  }

  .my-works .work-item img {
    flex-grow: 1;
    width: 50%;
  }

  .my-works .work-item .work-item-content .work-title {
    font-size: 40px;
    line-height: 52px;
  }

  .my-works .work-item .work-item-content .work-subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  .my-works .work-item .work-details {
    margin-bottom: 28px;
  }

  .my-works .work-item .work-technologies {
    margin-bottom: 16px;
  }

  .about-me-container {
    flex-direction: row;
  }

  .about-me-container .top {
    flex-grow: 1;
    padding-right: 48px;
  }

  .about-me-container .bottom {
    flex-grow: 1.5;
  }

  .about-me-container .top .title {
    width: 120px;
  }

  .about-me-container .top .introduction {
    margin-bottom: 12px;
  }

  .about-me-container .top .sub-title {
    margin-bottom: 24px;
  }

  .about-me-container .top .resume-btn {
    margin: 32px 0;
  }

  .about-me-container .bottom .knowledge-area.active {
    margin-bottom: 12px;
  }

  .about-me-container .bottom .technical-knowledge-list {
    display: flex;
    flex: 1;
  }

  .footer .contact-intro .description {
    max-width: 569px;
    margin: auto;
  }

  .footer .contact-form li {
    justify-content: center;
  }

  .about-me-container .bottom .technical-knowledge-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 120px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 12px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 17.5%;
  }

  .about-me-container .bottom .technical-knowledge-list li img {
    padding-bottom: 16px;
  }

  .footer .footer-content {
    max-width: 600px;
    margin: auto;
  }

  .footer .contact-form {
    max-width: 447px;
    margin: auto;
  }

  .footer .contact-form ul li textarea {
    font-size: 15px;
    line-height: 24px;
  }

  .footer .contact-form ul li input,
  .footer .contact-form ul li textarea {
    border-radius: 0;
    padding: 12px 16px;
  }

  .footer .footer-shapes .rectangle-4 {
    width: 107.2px;
    height: 24.7px;
    background: #7f8cff;
    transform: rotate(-23.18deg);
    left: 84.14%;
    top: 12.34%;
  }

  .footer .footer-shapes .rectangle-6 {
    width: 55.6px;
    height: 9.95px;
    background: #fff;
    transform: rotate(-23.7deg);
    left: 23.4%;
    top: 88.59%;
  }

  .footer .footer-shapes .rectangle-7 {
    width: 117.53px;
    height: 21.03px;
    background: #7f8cff;
    transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
    left: 5.82%;
    top: 42.95%;
  }

  .footer .footer-shapes .ellipse-3 {
    background-image: url("../../assets/img/footer/Ellipse-3.svg");
    width: 129px;
    height: 129px;
    left: 85.9%;
    top: 14.07%;
  }

  .footer .footer-shapes .ellipse-5 {
    background-image: url("../../assets/img/footer/Ellipse-5.svg");
    width: 48px;
    height: 48px;
    left: 5.23%;
    top: 44.09%;
  }

  .footer .footer-shapes .ellipse-11 {
    background-image: url("../../assets/img/footer/Ellipse-11.svg");
    width: 41.18px;
    height: 20.59px;
    left: 24.86%;
    top: 90.07%;
  }

  .footer .footer-shapes .ellipse-12 {
    background-image: url("../../assets/img/footer/Ellipse-12.svg");
    width: 27px;
    height: 27px;
    left: 32.64%;
    top: 13.48%;
  }

  .footer .footer-shapes .ellipse-13 {
    background-image: url("../../assets/img/footer/Ellipse-13.svg");
    width: 75px;
    height: 75px;
    left: 78.4%;
    top: 61.58%;
  }

  .pd-container .pd-content .pd-head .pd-title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .pd-container .pd-content .pd-subtitle {
    padding: 12px 0 32px;
  }

  .pd-container .pd-content .pd-subtitle span {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .pd-container .pd-content .pd-description {
    font-size: 16px;
    line-height: 30px;
  }

  .pd-container .pd-content .pd-bottom {
    display: flex;
    padding: 60px 0 15px;
  }

  .pd-container .pd-content .pd-bottom .pd-left {
    flex: 2;
    padding: 0 12px 0 0;
  }

  .pd-container .pd-content .pd-bottom .pd-right {
    flex: 1;
    padding: 0 0 0 12px;
  }
}
