html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #f7f7f9;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-navigation {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.top-navigation img {
  height: 45px;
}

svg {
  fill: #6070ff;
}

.menu-toggle {
  display: block;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #6070ff;
  border-radius: 3px;
}

.hero {
  background-image: url("../img/header-background-mobile.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 24px;
  position: relative;
}

.hero .hero-shapes {
  background-image: url("../img/header-shapes-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-content {
  position: relative;
  z-index: 10;
}

.hero .title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 40px 0 12px;
}

.hero .introduction {
  margin: 12px 0 24px;
}

.hero .sub-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  margin: 12px 0;
}

.hero .social-links {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.hero .social-links .link {
  margin-right: 15px;
  font-size: 28px;
}

.hero .social-links .link a {
  color: #505f79;
}

.hero .social-links .link a:hover {
  color: #7f8cff;
}
