@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #f7f7f9;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
}

.top-navigation {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.top-navigation img {
  height: 45px;
}

svg {
  fill: #6070ff;
}

.menu-toggle {
  display: block;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #6070ff;
  border-radius: 3px;
}

.hero {
  background-image: url("../img/header-background-mobile.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 24px;
  position: relative;
}

.hero .hero-shapes {
  background-image: url("../img/header-shapes-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-content {
  position: relative;
  z-index: 10;
}

.hero .title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 40px 0 12px;
}

.hero .introduction,
.about-me .introduction {
  margin: 12px 0 24px;
}

.hero .sub-title,
.about-me .sub-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  margin: 12px 0;
  text-decoration: none;
}

.hero .sub-title:hover,
.about-me .sub-title:hover {
  color: #6070ff;
}

.hero .social-links,
.about-me .social-links {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.about-me .link,
.hero .social-links .link {
  margin-right: 15px;
  font-size: 28px;
}

.hero .social-links .link a,
.about-me .social-links .link a {
  color: #505f79;
}

.hero .social-links .link a:hover,
.about-me .social-links .link a:hover {
  color: #7f8cff;
}

.my-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 88px;
  padding: 120px 24px;
}

.my-works .work-item {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: baseline;
}

.technical-knowledge-list li img {
  margin-right: 16px;
}

.my-works .work-item img {
  width: 100%;
}

.my-works .work-item .work-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: block;
  padding: 12px 0;
  color: #172b4d;
}

.my-works .work-item .work-subtitle {
  display: flex;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.my-works .work-item .work-subtitle span {
  height: 100%;
  position: relative;
}

.my-works .work-item .work-subtitle span + span {
  margin: 0 16px;
}

.my-works .work-item .work-subtitle span:first-of-type {
  color: #344563;
  text-transform: uppercase;
  margin-right: 16px;
}

.my-works .work-item .work-subtitle span + span::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.my-works .work-item .work-details {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0 12px;
}

.my-works .work-item .work-technologies {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.my-works .work-item .work-technologies .technology-tag {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 8px;
}

.my-works .work-item .view-work-btn,
.contact-form .submit-btn,
.about-me .resume-btn {
  border-radius: 8px;
  text-align: center;
  padding: 12px;
  margin: 24px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.my-works .work-item .view-work-btn:enabled,
.contact-form .submit-btn:enabled,
.about-me .resume-btn:enabled {
  color: #6070ff;
  border: solid 1px #6070ff;
  background-color: #fff;
}

.my-works .work-item .view-work-btn:hover,
.my-works .work-item .view-work-btn:active,
.about-me .resume-btn:hover,
.about-me .resume-btn:active {
  color: #fff;
  border: solid 1px #6070ff;
  background-color: #6070ff;
}

.about-me {
  padding: 120px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.about-me .top,
.about-me .bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 24px 0;
  width: 100%;
}

.footer .contact-intro .title,
.about-me .top .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me .bottom .technical-knowledge {
  width: 100%;
}

.about-me .bottom .technical-knowledge .knowledge-area {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.about-me .bottom .technical-knowledge .knowledge-area.active {
  border: none;
}

.about-me .bottom .technical-knowledge .knowledge-area .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.technical-knowledge-list li {
  padding: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.footer {
  background-color: #6070ff;
  position: relative;
  padding: 120px 24px 48px;
}

.footer .footer-shapes {
  background-image: url("../img/contact form shapes-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 21px;
  right: -42px;
  width: 100%;
  height: 709.17px;
}

.footer .footer-content {
  position: relative;
  z-index: 10;
}

.footer .contact-intro {
  text-align: center;
  margin-bottom: 36px;
}

.footer .contact-intro .title {
  color: #fff;
  margin-bottom: 12px;
}

.footer .contact-intro .description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.footer .contact-form {
  display: flex;
}

.footer .contact-form ul {
  flex-grow: 1;
}

.footer .contact-form li {
  display: flex;
}

.footer .contact-form ul li input,
.footer .contact-form ul li textarea {
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  flex-grow: 1;
  color: #172b4d;
}

.footer .contact-form ul li textarea {
  font-size: 17px;
  line-height: 20px;
}

.footer .contact-form ul li .submit-btn {
  margin-top: 0;
}

.footer .contact-form ul li .submit-btn:hover,
.footer .contact-form ul li .submit-btn:active {
  color: #fff;
  border: solid 1px #7f8cff;
  background-color: #7f8cff;
}
